{#This will hold my PRC simultator JAVA version#}
{% extends "blog/base.html" %}
{% block content %}
<p>This is a Rock Paper Scissors game I built using Java. The goal of the project was to simulate a game where the computer has a higher chance of winning—basically giving the bot a bit of an edge. It was one of the first programs I ever created, so while it's simple, it gave me a chance to practice using Java, Git, and general programming concepts.</p>
<p>There are two bot difficulty levels:</p>
<ul>
<li>Easy: Makes completely random choices.</li>
<li>Hard bot: Uses a bit of strategy:</li>
    <ul>
        <li>On the first round, it chooses randomly.</li>
        <li>After that:</li>
        <ul>
            <li>If it won the last round, it tends to copy your previous move.</li>
            <li>If it lost, it's more likely to choose the move that beats what you played last time—anticipating you might repeat it.</li>
        </ul>
        <li>There’s always some randomness to avoid being too predictable.</li>
    </ul>
</ul>

<p>The program is written in Java and requires the Java Runtime Environment (JRE) to run. You can download it using the link below. Just a heads-up: it might trigger a warning in Windows Defender. If you're unsure, feel free to check out the source code on my GitHub.</p>
<p><a href='../media/RPCjar.jar'>Click Here</a> to download</p>

{% endblock content %}
